* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*CORES*/

  /*Pink*/
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  /*Blue*/
  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  /*Shape*/
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  /*Text*/
  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  /*TIPOGRAFIA*/
  --font-family: "Raleway", sans-serif;

  /*Title*/
  --title-lg: 700 3rem var(--font-family);
  --title-md: 700 2.5rem var(--font-family);
  --title-sm: 700 2rem var(--font-family);
  --title-xs: 700 1rem var(--font-family);

  /*Subtitle*/
  --subtitle: 500 2rem/200% var(--font-family);
  --b-subtitle: 700 2rem/200% var(--font-family);

  /*Body Regular*/
  --r-body-lg: 400 1.25rem/140% var(--font-family);
  --r-body-md: 400 1rem/140% var(--font-family);
  --r-body-sm: 400 0.875rem/140% var(--font-family);
  --r-body-xs: 400 0.75rem/140% var(--font-family);

  /*Body Bold*/
  --b-body-lg: 700 1.25rem/140% var(--font-family);
  --b-body-md: 700 1rem/140% var(--font-family);
  --b-body-sm: 700 0.875rem/140% var(--font-family);
  --b-body-xs: 700 0.75rem/140% var(--font-family);

  /*Button*/
  --button: 700 0.875rem var(--font-family);

  /*Link*/
  --l-button: 500 0.875rem var(--font-family);

  /*Tag*/
  --tag: 700 0.625rem var(--font-family);
}

section,
footer {
  overflow: hidden;
}

.container {
  margin: auto;
  max-width: 70rem;
}

.only-mobile {
  display: none;
}

button {
  font: var(--button);
  color: var(--text-title);
  background-color: var(--pink-dark);
  border-radius: 0.5rem;
  border: none;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  height: fit-content;
  cursor: pointer;
  transition: background 0.5s;

  &:hover {
    background-color: #9547a5;
  }
}

.button-secundary-blue {
  background-color: var(--blue-dark);
  width: 100%;

  &:hover {
    background-color: #2374a4;
  }
}

.button-secundary-purple {
  background-color: var(--pink-dark);
  width: 100%;

  &:hover {
    background-color: #9547a5;
  }
}

.purple {
  color: var(--pink-light);
}

.blue {
  color: var(--blue-light);
}

h1 {
  font: var(--title-lg);
}

h2 {
  font: var(--title-md);
}

h3 {
  font: var(--title-sm);
}

h4 {
  font: var(--title-xs);
}

.tag {
  font: var(--tag);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
