.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  top: 3px;
  background-color: var(--input-stroke);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--brand-light);
}

input:checked + .slider:before {
  transform: translateX(30px);
  background-color: white;
}

.terms-wrapper {
  margin-top: 4px;
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;

  & span {
    font: var(--sms);
    color: var(--brand-light);
    text-decoration: underline;
  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;

    background-image: url(../assets/icons/Checked-disable.svg);
    background-repeat: no-repeat;
  }

  &:has(:checked) .checkbox-image {
    background-image: url(../assets/icons/Checked-checked.svg);
  }
}
