#price {
  background-color: var(--shape-background);
  padding-bottom: 6.25rem;

  & .title {
    width: 41rem;
    margin: auto;
    text-align: center;
    padding-block: 6.25rem 3.125rem;

    & h3 {
      color: var(--text-title);
    }
  }

  & .price-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  & .base {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .card {
    background-color: var(--shape-base);
    height: 26rem;
    width: 18rem;
    border: 1px solid var(--shape-stroke);
    border-radius: 1.5rem;
    padding: 2rem 2rem 1.75rem 2rem;

    & .head {
      & div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;

        & .tag {
          color: var(--text-body);
          padding: 0.5625rem 1.25rem;
          background-color: var(--shape-stroke);
          border-radius: 1.25rem;
        }
      }

      & div:nth-child(2) {
        & p:nth-child(1) {
          font: var(--title-md);
          color: var(--text-title);
          padding-bottom: 0.5rem;

          & span {
            font: var(--title-xs);
          }
        }

        & p:nth-child(2) {
          font: var(--r-body-sm);
          color: var(--text-label);
        }
      }
    }
  }

  & .benefits {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 1.5rem;
  }

  & .benefit {
    color: var(--text-body);
    font: var(--r-body-xs);
    display: flex;
    gap: 0.5rem;

    & img {
      width: 0.875rem;
    }

    & button {
      width: 100%;
    }
  }
}
