main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  border-radius: 5px;
}

@media (width <= 25em) {
  & .container {
    padding-block: 16px;
  }

  main img {
    width: 100%;
  }
}
