button {
  all: unset;
  font: var(--mds);
  color: var(--text-heading);
  padding: 0.8125rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &.btn-primary {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: white;
    background-color: var(--brand-dark);

    &:hover,
    &:focus {
      background-color: var(--brand-mid);
    }
  }
}
