* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*CORES*/

  /*Brand*/
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /*Accent Colors*/
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /*Feedback*/
  --danger: #ff5959;

  /*Input*/
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /*Shape*/
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /*Text*/
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /*FONTS*/

  /*Heading*/
  --heading-font-family: "Baloo 2", sans-serif;
  --h1: 700 1.75rem var(--heading-font-family);
  --h2: 700 1.125rem / 1.25rem var(--heading-font-family);

  /*Text*/
  --font-family: "Open Sans", sans-serif;
  --mdl: 300 1rem var(--font-family);
  --md: 400 1rem var(--font-family);
  --sm: 400 0.875rem var(--font-family);
  --xs: 400 0.75rem var(--font-family);
  --mds: 600 1rem var(--font-family);
  --sms: 600 0.875rem var(--font-family);
  --xss: 600 0.75rem var(--font-family);
}

body {
  font: var(--sm);
  color: var(--text-body);
}

/*Heading 01*/
h1 {
  font: var(--h1);
}

/*Heading 02*/
h2 {
  font: var(--h2);
}

/*Text light 16px*/
.mdl {
  font: var(--mdl);
}

/*Text regular 16px*/
.md {
  font: var(--md);
}

/*Text regular 14px*/
.sm {
  font: var(--sm);
}

/*Text regular 12px*/
.xs {
  font: var(--xs);
}

/*Text semibold 16px*/
.mds {
  font: var(--mds);
}

/*Text semibold 14px*/
.sms {
  font: var(--sms);
}

/*Text semibold 12px*/
.xss {
  font: var(--xss);
}
